body {
	background-image: url('../images/green.jpg');
}
        
table#game_board{
	margin:auto;
	border-style: double;
	border-width: 18px;
	border-color: rgb(100, 100, 100);
}

table#game_board td{
	padding: 5px;
	border-style: double;
	border-width: 6px;
	border-color: rgb(35, 183, 101);
}



#messages p{
	color: white;
}

td.hovered_over:hover {
	background: url('../images/hover.gif');
	background-size: 100% 100%;
	
}


#my_color{
	font-size: 30px;
	color: white;
	
}

#whitesum {
	font-size: 30px;
	color: white;
	font-weight: bold;
}

#whitePlayer{
	font-size: 16px;
	color: white;
	margin-top:10px;
	margin-bottom: 0;
	font-weight: bold;
}

#blacksum {
	font-size: 30px;
	color: dimgrey;
	font-weight: bold;
}

#blackPlayer{
	font-size: 16px;
	color: dimgray;
	margin-top:10px;
	margin-bottom: 0;
	font-weight: bold;
}

h3 {
	font-size: 30px;
	color: white;
}

#player1{

	border-radius: 25px;
	background-color: dimgray
} 

#player2{

	border-radius: 25px;
	background-color: floralwhite;
}

#vs {
	font-weight: bold;
	font-size: 30px;
	color: white;
	margin-top: 10px;
}








